.form {
  width: 100%;
  max-width: 32rem;
  min-width: 320px;
  background-color: var(--mantine-color-dark-filled);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 4rem 0.5rem;
  gap: 20px;
}
